Body {
    background-image: url(imagens/landscapes-beach-seas-android1.jpg);
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header {
    height: 100px;
    color: black;

}

nav {
    padding-top: px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: red;
}

.active {
    background-color: firebrick;
}

section {
    text-align: center;
    color: black;
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
}
